/* Soluzione qui */


/* tablet solution */
@media screen and (min-width: 768px) {

    #topbar {
    
    display: flex;
	align-items: left;
	justify-content: left;
    }

    main {
        padding: 40px;
        min-height: 100%;
    }

    .recipe-title {

        font-size: 24px;
    } 

    .recipe-name::after {
        content: "(Dolce Tradizionale)";
    }
    


    .quick-notes>ul {

        display: flex;
        flex-wrap: wrap;
        flex-wrap: 1;
        row-gap: 25px;
        gap: 20px;
        max-width: 75%;
    }


    .btn {

        font-size: 25px;
        border-radius: 1rem;
        width: 100%;
    }

    .ads {

        display: block
    }

    .presentation img {
        float: left;
        margin-right: 20px;
    }
}

/* tablet solution */


/* desktop solution */

@media  screen and (min-width:992px) 

{
        .recipe-title {

        font-size: 30px;
    } 


        .quick-notes>ul {

        display: flex;
        flex-direction: column;
        
        
    }

.recipe-card {
    display:flex;

}

.recipe-video {

    flex-grow: 1;
    
}

.recipe-info {

   

}





.social-networks {

    max-width: 200px;
    display: flex;
text-align: center;
}

.fa-facebook:after {
    content: "Facebook";
    color: black;
    margin-left: 2px;

    
}

.fa-twitter:after {
    content: "Twitter";
    color:black;
    margin-left: 5px;
}

.fa-instagram:after {
    content: "Instagram";
    color:black;
    margin-left: 2px;
}
.fa-pinterest:after {
    content: "Pinterest";
    color:black;
    margin-left: 5px;
}
.fa-youtube:after {
    content: "Youtube";
    color:black;
    margin-left: 5px;
}

footer {

    display: flex;

    justify-content: space-between;
    
}


}